<div class="col-md-12">
	<div class="row">
		<div class="col scoring-big">
			#
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			13
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			14
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			Double
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			15
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			16
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			Triple
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			17
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			18
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			Bed
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			19
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			20
		</div>
	</div>

	<div class="row">
		<div class="col scoring">
			Bull
		</div>
	</div>
</div>