<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Score Calc</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="screen-calc col-md-12" id="div-player-score">score</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-calc">7</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">8</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">9</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">dart mode</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-calc">4</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">5</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">6</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-calc">1</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">2</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">3</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-calc">x</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-calc">0</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CHOP!</button>
				<button type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>