<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="dart-content border border-warning rounded">
			<h2>Games</h2> <button type="button" class="new-burma-game btn btn-outline-success">New Game</button>
			{{#each data}}
				<li>Game: <a href="/games/{{game_id}}">{{id}} - {{createdAt}}</a></li>
			{{/each}}
		</div>
	</div>
</div>