<!--<div class="row">-->
<!--	<div class="col-md-12 col-sm-12">-->
<!--		<div class="dart-content border border-warning rounded">-->
<!--			<h2>Burma Road :: {game.gameId}}</h2>-->

<!--			<p>Add players</p>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<div class="scoreboard">
	<div class="row">
		<div class="col-md-1">
			<div class="row">
				{{> game/game-target-block}}
			</div>
		</div>
		<div class="col-md-11">
			<div class="row">
				{{#each game.players}}
					{{> game/game-block}}
				{{/each}}
			</div>
		</div>

	</div>
</div>