<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="dart-content border border-success rounded">
			<p>Welcome to the Leg!</p>
			<div class="py-16 flex items-center justify-center">
				<table id="table" class="table">
					<thead>
					<tr>
						<th data-type="number">TGT</th>
						<th data-name="justin">JR</th>
						<th>Rob</th>
						<th>Seamus</th>
						<th>Damo</th>
						<th>OHaganThePrick</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>13</td>
						<td data-score="53">53</td>
						<td>53</td>
						<td>53</td>
						<td>53</td>
						<td>53</td>
					</tr>
					<tr>
						<td>14</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>DBL</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>15</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>16</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>TPL</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>18</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>BED</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>19</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>20</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>BULL</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
