<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="dart-content border border-success rounded">
			<h1>{{data.title}} Prize: {{data.prize}}</h1>
			<p>Playing for sets or legs?</p>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						{{> tournament/add-player-form}}
					</div>

					<div class="col-md-6">
						{{> tournament/create-match-form}}
					</div>

				</div>
			</div>
			<h2>Tournament Entrants</h2>
			<table class="table">
				<tr>
					<td>1. JR</td>
					<td>2. JR</td>
					<td>3. JR</td>
					<td>4. JR</td>
					<td>5. JR</td>
				</tr>
				<tr>
					<td>6. JR</td>
					<td>7. JR</td>
					<td>8. JR</td>
					<td>9. JR</td>
					<td>10. JR</td>
				</tr>
				<tr>
					<td>11. JR</td>
					<td>12. JR</td>
					<td>13. JR</td>
					<td>14. JR</td>
					<td>15. JR</td>
				</tr>
				<tr>
					<td>16. JR</td>
					<td>17. JR</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<h2>Tournament Matches</h2>
			<div class="row">
				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>

				<div class="card bg-light mb-3 col-md-3">
					<div class="card-header">Match 1</div>
					<div class="card-body">
						<h5 class="card-title">JR v JR</h5>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
