body {
    background-image: url("/assets/img/pattern_light.png");
    background-color: #f5f5f5;
    /*background: repeat;*/
}

.dart-content {
    color: #000000;
    background-color: white;
    /*opacity: 0.75;*/
    padding: 12px;
    margin: 12px;
}

.dart-content li:not(:last-child) {
    margin-bottom: 0.75em;
}

li a {
    text-decoration: none;
    color: #000000;
}

li a hover {
    color: #000000;
}

.delete-burger-btn {
/*button, input[type="submit"], input[type="reset"] {*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    /*cursor: pointer;*/
    /*outline: inherit;*/
}

.change-status-btn {
    /*button, input[type="submit"], input[type="reset"] {*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    /*cursor: pointer;*/
    /*outline: inherit;*/
}

.scoreboard {
    background: #000;
    color: #f5f5f5;
}

.scoring {
    background: #000000;
    border: none;
    resize: none;
    color: #f5f5f5;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 80px;
}

.scoring-big {
    background: #000000;
    border: none;
    resize: none;
    color: #f5f5f5;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100px;
}


textarea{
    background: #ffffff;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
}