<div class="card p-3 mt-2">
	<form id="add-player-to-tournament">
		<div class="form-group">
			<label for="addPlayer">Add a player to the tournament</label>
			<input type="text" class="form-control bet-against" id="addPlayer" aria-describedby="addPlayerHelp"
			       placeholder="Player Name">
			<small id="addPlayerHelp" class="form-text text-muted">Select the person to add.</small>
		</div>

		<div class="form-group">
			<button type="submit" id="goTime" class="btn btn-outline-primary new-bet">Add</button>
			<button type="button" class="btn btn-outline-warning new-bet">Create a new player</button>
		</div>
	</form>
</div>
