<div class="col-md-12">
	<div class="row">
		<div class="col">
			#
		</div>
	</div>

	<div class="row">
		<div class="col">
			13
		</div>
	</div>

	<div class="row">
		<div class="col">
			14
		</div>
	</div>

	<div class="row">
		<div class="col">
			Double
		</div>
	</div>

	<div class="row">
		<div class="col">
			15
		</div>
	</div>

	<div class="row">
		<div class="col">
			16
		</div>
	</div>

	<div class="row">
		<div class="col">
			Triple
		</div>
	</div>

	<div class="row">
		<div class="col">
			17
		</div>
	</div>

	<div class="row">
		<div class="col">
			18
		</div>
	</div>

	<div class="row">
		<div class="col">
			Bed
		</div>
	</div>

	<div class="row">
		<div class="col">
			19
		</div>
	</div>

	<div class="row">
		<div class="col">
			20
		</div>
	</div>

	<div class="row">
		<div class="col">
			Bull
		</div>
	</div>
</div>