<div class="row">
	<div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="player-score col" data-id={{dataValues.id}} data-userId={{userId}} data-score={{dataValues.legScore}}>
		{{dataValues.legScoreInt}}
	</div>
</div>