<div class="col-md-1">
	<div class="row">
		<div class="col scoring-big">
			<p>{{this.player.dataValues.username}}
			<br>{{dataValues.currentScore}}</p>
		</div>
	</div>


{{#each this.playerLegs userId=this.player.dataValues.id}}
	{{> game/game-leg-block userId=../this.player.dataValues.id}}
{{/each}}

</div>