<div class="col-md-1">
	<div class="row">
		<div class="col">
			{{this.player.dataValues.username}}
			{{this.player.dataValues.id}}
			<p>{{dataValues.currentScore}}</p>
		</div>
	</div>


{{#each this.playerLegs userId=this.player.dataValues.id}}
	{{> game/game-leg-block userId=../this.player.dataValues.id}}
{{/each}}

</div>